.flight-search {
    padding: 1em;
    padding-bottom: 0em;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    border: 2px solid rgb(2, 2, 72);
    border-radius: 10px;
    background-color: rgba(38, 0, 59, 0.836);
}

.flight-search .form-control {
    border-radius: 0 !important;
    margin-top: 0;
} 

.form-group label {
    font-weight: bold;
    color: #E5C100;
    margin-bottom: 5px;
}

.form-control {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.search-btn {
    background: #FFD700;
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    margin-top: 1.5em;
    border-radius: 0;
    font-weight: normal;
}

.search-btn:hover {
    background: #E5C100;
}